@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find</h2>
<div id="my_map">


</div>
<div id="info">


</div>
@section Scripts {
    @*@Scripts.Render("~/Scripts/jquery-2.1.0")*@
    @Scripts.Render("~/Scripts/gmap3.js")
    @Scripts.Render("~/Scripts/gmap3.min.js")

}
<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>

<script type="text/javascript">
    google.load("search", "1");
    google.load("jquery", "1.4.2");
    google.load("jqueryui", "1.7.2");
</script>
<script  type="text/javascript">
 
    $(function () {
    
      

        var currentPosition = navigator.geolocation.getCurrentPosition(onSuccess, onError, onProgress);
        //alert("currentPosition " + currentPosition);
      
        

        function onSuccess(position) {


            var map = $("#my_map").width("600px").height("350px").gmap3(
                   {

                       map: {
                           options: {
                               center: [position.coords.latitude, position.coords.longitude],
                               zoom: 20,
                               mapTypeId: google.maps.MapTypeId.TERRAIN,
                               mapTypeControl: true,
                               mapTypeControlOptions: {
                                   style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
                               },
                               navigationControl: true,
                               scrollwheel: true,
                               streetViewControl: true


                           }

                       },
                       marker: {
                           values: [{ latLng: [position.coords.latitude, position.coords.longitude], data: "You are here!" }],
                         options: {
                               draggable: false,
                               icon: "http://maps.google.com/mapfiles/marker_green.png"
                           },
                           events: {
                               mouseover: function (marker, event, context) {
                                   var map = $(this).gmap3("get"),
                                     infowindow = $(this).gmap3({ get: { name: "infowindow" } });
                                   if (infowindow) {
                                       infowindow.open(map, marker);
                                       infowindow.setContent(context.data);
                                   } else {
                                       $(this).gmap3({
                                           infowindow: {
                                               anchor: marker,
                                               options: { content: context.data }
                                           }
                                       });
                                   }
                               },
                               mouseout: function () {
                                   var infowindow = $(this).gmap3({ get: { name: "infowindow" } });
                                   if (infowindow) {
                                       infowindow.close();
                                   }
                               }

                           }
                       }
                          
                       


                   }).css('border', '3px solid #000000');


        }


        function onError(positionError) {
            alert(positionError)
        }

        function onProgress() {
            $(my_map).data = "Cargando  Datos...";
        }

    });
        
    
</script>