 <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
               
                @Html.ActionLink("Find services","Find","OTF")
            </li>
            <li>
                 @Html.ActionLink("Offer services","Offer","OTF")
            </li>
          
        </ol>
    </fieldset>